extends ../layout

block content
  include ./form
  script.
    // define constants
    //
    const places = $('#places')
    // Start script
    //
    $(document).ready(function(){
      // translations
      //
      const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
      const polyglot = new Polyglot({
          phrases,
          currentLocale
      })
      // Breadcrumb
      $('#breadcrumb').append(renderBreadcrumb([
          { text: polyglot.t('breadcrumb.home'), href: '/'},
          { text: polyglot.t('breadcrumb.tables'), href: '/tables'},
          { text: polyglot.t('breadcrumb.create'), href: '/tables/create'}
      ]))
      // render places autocomplete options
      //
      $.get("/api/tables/places", (data) => {
        renderOptions( $('#places'), data.places, 'place')
      })

      // handle submit post event
      //
      $( "#table" ).submit( (event) => {
        event.preventDefault()
        $.post(
          "/api/tables",
          $( "#table" ).serialize()
          ).done( () => window.location.href = `/tables`
          ).fail( (err)=> $.handleErrors(err) )
      })
    })