extends ../layout

block content
  include ./form
  script.
    // define constants
    //
    const form = $('#table')
    const id = $('#id').val()
    const places = $('#places')
    // Start script
    //
    $(document).ready(function(){
      // translations
      //
      const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
      const polyglot = new Polyglot({
          phrases,
          currentLocale
      })
      // Breadcrumb
      $('#breadcrumb').append(renderBreadcrumb([
          { text: polyglot.t('breadcrumb.home'), href: '/'},
          { text: polyglot.t('breadcrumb.tables'), href: '/tables'},
          { text: polyglot.t('breadcrumb.edit'), href: `/tables/edit/${id}`}
      ]))

      // render places autocomplete options
      //
      $.get("/api/tables/places", (data) => {
        renderOptions(places, data)
      })

      // handle submit post event
      //
      form.submit(function( event ){
        event.preventDefault()
        $.put(
          `/api/tables/${id}`,
          form.serialize()
          ).done( () => window.location.href = `/tables`
          ).fail( (err)=> $.handleErrors(err) )
        })
    })