extends layout

block content
  .mui-row.mui--appbar-height
  .mui-container
    .mui-panel.mui--bg-danger.mui--text-white.mui--text-center.mui--align-middle
      i.fa.fa-times.fa-2x
      span &nbsp;
      = message
