extends layout

block content
    .mui-row.mui--appbar-height
    #container.mui-container
        .mui-row
            #op
    script.
        // start script
        //
        $(document).ready(function(){
            // Translations
            //
            const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
            const polyglot = new Polyglot({
                phrases,
                currentLocale
            })
            // Breadcrumb
            $('#breadcrumb').append(renderBreadcrumb([
                { text: polyglot.t('breadcrumb.home'), href: '/'}
            ]))
            const user = storage.get('user')
            if(user) {
                $('#op').append(renderMenu('fa-tags',
                        polyglot.t('menu.categoriesAndProducts'),
                        '/categories'))
                $('#op').append(renderMenu('fa-database',
                        polyglot.t('menu.tables'),
                        '/tables'))
                $('#op').append(renderMenu('fa-edit',
                        polyglot.t('menu.orders'),
                        '/orders'))
                $('#op').append(renderMenu('fa-user',
                        polyglot.t('menu.users'),
                        '/users'))
            } else {
                 $('#op').append(makeIntro())
            }
        })
        function makeIntro() {
                var panel = document.createElement('div')
                panel.className = 'mui-panel'
                var headline = document.createElement('div')
                headline.className = 'mui--text-headline'
                headline.appendChild(document.createTextNode('POS Restaurant'))
                var divider = document.createElement('div')
                divider.className = 'mui-divider'
                var content = document.createElement('p')
                content.appendChild(document.createTextNode(`
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In facilisis
                        aliquam ipsum sed dignissim. Sed ac accumsan odio. Vivamus tristique
                        dignissim neque. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Nunc cursus felis nec purus condimentum vestibulum. Donec mauris
                        nisi, sollicitudin eget iaculis id, suscipit id odio.
                `))
                panel.appendChild(headline)
                panel.appendChild(divider)
                panel.appendChild(content)
                return panel
        }