extends layout

block content

    .mui-container
        .mui-row.mui--appbar-height
            
        .mui-row
            .mui-col-md-6
                .mui-panel
                    i.fa.fa-tags.fa-3x &nbsp; 
                    a(href='/categories') Categories and Products   
            .mui-col-md-6 
                .mui-panel
                    i.fa.fa-database.fa-3x &nbsp;   
                    a(href='/tables') Tables
        .mui-row
            .mui-col-md-6
                .mui-panel
                    i.fa.fa-user.fa-3x &nbsp; 
                    a(href='/users') Users   
    script.
        // start script
        //
        $(document).ready(function(){
            renderBreadcrumb([
                { text: 'Home', href: '/'}
            ])
        })