h2
  i.fa.fa-edit
  span &nbsp; 
  = title  
  &nbsp;Table:&nbsp;
  = order.table
.mui-panel
  form#order.mui-form--inline
    legend New Item
    .mui-textfield
      input(type="text" name="quantity" id="quantity" 
       onclick="activateModalQuantity()").mui-btn
      label Quantity
    .mui-textfield
      input(type="text" name="code" id="code" 
        onclick="activateModalProduct()").mui-btn 
      label Code
    .mui-textfield
      input(type="text" name="description" id='description' readonly).mui-btn 
      label Description
    .mui-textfield
      input(type="text", name="price" id="price" readonly).mui-btn
      label Price
    .mui-textfield
      input(type="text", id="total" readonly).mui-btn
      label Total
    input(type='hidden' name='id' value=order.id)
    input(type="hidden" name="table" value=order.table)
    .mui-textfield
      button(type="submit", name="add")#submit-button.mui-btn.mui-btn--primary.mui-btn--raised.mui--pull-right
        i.fa.fa-plus
        strong &nbsp; Add