extends ../layout

block content
  #payload(data-orders=orders, data-title=title)
  h2#title
    = title
  #grid.mui-container-fluid
    #gridRow.mui-row
  script.
    // define constants
    //
    const grid =  document.getElementById('grid')
    let data = JSON.parse(document.getElementById('payload').dataset.orders)
    const title = document.getElementById('payload').dataset.title

    // render order
    //
    function renderOrder(item){
      var panel = document.createElement('div')
      panel.className += 'mui-panel mui-col-sm-2'
      var title = document.createElement('strong')
      title.append(document.createTextNode(item.table))
      var openTime = document.createElement('div')
      openTime.append(document.createTextNode(
        moment(item.createdAt, "hmm").format("HH:mm") 
      ))
      item.total = 0
      item.OrderDetails.forEach(
        (s) => total+= s .price * s.quantity
      )
      var amount = document.createElement('div')
      amount.append(document.createTextNode(item.total))
      amount.className += 'mui--text-right'
      panel.append(title)
      panel.append(openTime)
      panel.append(amount)
      panel.addEventListener('click',() => window.location.href = `/orders/edit/${item.table}`)
      return panel
    }

    // render new
    //
    function renderNew() {
      var button = makeActionButton(
                'fa-edit', 'mui--text-primary',
                'add',
                activateModalTable
            )
      return button
    }

    // start script
    $(document).ready(function(){
        $('#breadcrumb').append(renderBreadcrumb([
          { text: 'Home', href: '/'},
          { text: 'Orders', href: '/orders'}
        ]))
        $('#title').append(document.createTextNode(' '))
        $('#title').append(renderNew())
        $('#gridRow').empty()
        $.get("/api/orders").done( 
          (data) => {
            data.orders.forEach((s) => {
              $('#gridRow').append(renderOrder(s))
            })
          }).fail( (err)=> $.handleErrors(err) )
    })

    // Table selection modal window
    //
    function activateModalTable() {
      $.get("/api/tables").done( 
          (data) => {
            modal = createModal(
              'modalTable','Tables', 
              data.tables.map((s) => s.number),
              selectTable              
            )
          }
        ).fail( (err)=> $.handleErrors(err) )
    }

    // Table selection event handler
    //
    function selectTable(item) {
      window.location.href = `/orders/edit/${item}`
    }