extends ../layout

block content
  #payload(data-category=data, data-title=title)
  include ./form
  script.
    // define constants
    //
    const data = JSON.parse(document.getElementById('payload').dataset.category)
    // start script
    //
    $(document).ready(function(){
      renderBreadcrumb([
        { text: 'Home', href: '/'},
        { text: 'Categories', href: '/categories'},
        { text: 'Create', href: '/categories/create'}
      ])
      $( "#category" ).submit( (event) => {
        event.preventDefault()
        $.post(
          "/api/categories",
          $( "#category" ).serialize()
          ).done( () => window.location.href = `/categories`
          ).fail( (err)=> $.handleErrors(err) )
      })
    })