extends ../layout

block content
  include ./form
  script.
    // start script
    //
    $(document).ready(function(){
      renderBreadcrumb([
        { text: 'Home', href: '/'},
        { text: 'Categories', href: '/categories'},
        { text: 'Create', href: '/categories/create'}
      ])
      $( "#category" ).submit( (event) => {
        event.preventDefault()
        $.post(
          "/api/categories",
          $( "#category" ).serialize()
          ).done( () => window.location.href = `/categories`
          ).fail( (err)=> $.handleErrors(err) )
      })
    })