extends ../layout

block content
  #payload(data-category=data, data-title=title)
  include ./form
  script.
    // define constants
    //
    const data = JSON.parse(document.getElementById('payload').dataset.category)
    // start script
    //
    $(document).ready(function(){
      const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
      const polyglot = new Polyglot({
            phrases,
            currentLocale
      })
      // Breadbrumb
      $('#breadcrumb').append(renderBreadcrumb([
          { text: polyglot.t('breadcrumb.home'), href: '/'},
          { text: polyglot.t('breadcrumb.categories'), href: '/categories'},
          { text: polyglot.t('breadcrumb.create'), href: '/categories/create'}
      ]))
      $( "#category" ).submit( (event) => {
        event.preventDefault()
        $.post(
          "/api/categories",
          $( "#category" ).serialize()
          ).done( () => window.location.href = `/categories`
          ).fail( (err)=> $.handleErrors(err) )
      })
    })