extends ../layout

block content
  #payload(data-category=data, data-title=title)
  include ./form
  script.
    // define constants
    //
    const data = JSON.parse(document.getElementById('payload').dataset.category)
    // start script
    //
    $(document).ready(function(){
      var form = $('#category')
      var id = $('#id').val()
      renderBreadcrumb([
          { text: 'Home', href: '/'},
          { text: 'Categories', href: '/categories'},
          { text: 'Edit', href: `/categories/edit/${id}`}
      ])
      form.submit(function( event ){
        event.preventDefault()
        $.put(
          `/api/categories/${id}`,
          form.serialize()
          ).done( () => window.location.href = `/categories`
          ).fail( (err)=> $.handleErrors(err) )
        })
    })