extends ../layout

block content
  include ./form
  script.
    // start script
    //
    $(document).ready(function(){
      var form = $('#category')
      var id = $('#id').val()
      form.submit(function( event ){
        event.preventDefault()
        $.put(
          `/api/categories/${id}`,
          form.serialize()
          ).done( () => window.location.href = `/categories`
          ).fail( (err)=> $.handleErrors(err) )
        })
    })