form#category.mui-form
  legend 
    h2
      i.fa.fa-tag
      span &nbsp; 
      = title
      
  .mui-textfield
    input(type="text", name="description", value=data.description required autofocus)
    label #{polyglot.t('fields.categories.description')}
    span#error-description.mui--text-danger.errorField
  input(type='hidden' name='id' value=data.id id='id')
  button(type="submit")#submit-button.mui-btn.mui-btn--raised.mui--pull-right
    i.fa.fa-floppy-o 
    strong &nbsp; #{polyglot.t('forms.buttons.save')}
    