extends ../layout

block content
  include ./form
  script.
    // Start script
    //
    $(document).ready(function(){
      // translations
      //
      const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
      const polyglot = new Polyglot({
          phrases,
          currentLocale
      })
      // Breadcrumb
      $('#breadcrumb').append(renderBreadcrumb([
          { text: polyglot.t('breadcrumb.home'), href: '/'},
          { text: polyglot.t('breadcrumb.users'), href: '/users'},
          { text: polyglot.t('breadcrumb.create'), href: '/users/create'}
      ]))
      // render user_types
      //
      renderOptions($('#usertypes'), ['superuser','admin','user'])
      $( "#user" ).submit( (event) => {
        event.preventDefault()
        $.post(
          "/api/users",
          $( "#user" ).serialize()
          ).done( () => window.location.href = `/users`
          ).fail( (err)=> $.handleErrors(err) )
      })
    })