extends ../layout

block content
  include ./form
  script.
    $(document).ready(function(){
      $( "#user" ).submit( (event) => {
        event.preventDefault()
        $.post(
          "/api/users",
          $( "#user" ).serialize()
          ).done( () => window.location.href = `/users`
          ).fail( (err)=> $.handleErrors(err) )
      })
    })