extends ../layout

block content
  include ./form
  script.
    // define constants
    //
    const form = $('#user')
    const id = $('#id').val()
    // Start script
    //
    $(document).ready(function(){
      // translations
      //
      const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
      const polyglot = new Polyglot({
          phrases,
          currentLocale
      })
      // Breadcrumb
      $('#breadcrumb').append(renderBreadcrumb([
          { text: polyglot.t('breadcrumb.home'), href: '/'},
          { text: polyglot.t('breadcrumb.users'), href: '/users'},
          { text: polyglot.t('breadcrumb.edit'), href: `/users/edit/${id}`}
      ]))
      renderOptions($('#usertypes'), ['superuser','admin','user'])
      form.submit(function( event ){
        event.preventDefault()
        $.put(
          `/api/users/${id}`,
          form.serialize()
          ).done( () => window.location.href = `/users`
          ).fail( (err)=> $.handleErrors(err) )
        })
    })