extends ../layout

block content
  include ./form
  script.
    $(document).ready(function(){
      var form = $('#user')
      var id = $('#id').val()
      form.submit(function( event ){
        event.preventDefault()
        $.put(
          `/api/users/${id}`,
          form.serialize()
          ).done( () => window.location.href = `/users`
          ).fail( (err)=> $.handleErrors(err) )
        })
    })