extends ../layout

block content
  #payload(data-users=users, data-title=title)
  table#table.mui-table.mui-table--bordered
    caption#tableCaption.mui--text-left
    thead#tableHeader
    tbody#tableBody
  script.
    // define constants
    //
    const data = JSON.parse(document.getElementById('payload').dataset.users)
    const title = document.getElementById('payload').dataset.title
    const actions = [ 
      { 
        url: '/users/delete/', 
        icon:  'fa-times',
        color: 'mui--text-accent',
        eventListener: onLinkClick
      },
      { 
        url: '/users/edit/', 
        icon:  'fa-pencil',
        color: 'mui--text-primary',
        eventListener: onLinkClick
      }
    ]

    // start script
    $(document).ready(function(){
        $('#tableCaption').append(makeCaption(title, 'fa-user-circle-o'))
        $('#tableHeader').append(makeHeader(['Username','Email','id']))
        $('#tableBody').append(makeBody(data, actions ))
        $('#searchBox').keyup(renderFilter)
    })

    // Render filtered data
    //
    function renderFilter (event) {
      const token = $( this ).val().toUpperCase()
      var currentData = data.filter((s) => 
        s.username.toUpperCase().startsWith(token) || s.email.toUpperCase().startsWith(token)
      )
      $('#tableBody').empty()
      $('#tableBody').append(makeBody(currentData, actions ))
    }

    // manage Edit and Delete actions 
    //
    function onLinkClick( event ) {
      event.preventDefault()
      var element = event.srcElement.nodeName === 'I'? event.srcElement.parentNode : event.srcElement
      var urlArray = element.href.split('/')
      var verb = urlArray[urlArray.length - 2]
      var id = urlArray[urlArray.length - 1]
      switch( verb ) {
        case 'delete':
           $.delete(
            `/api/users/${id}`
            ).done(function( data ) {
            window.location.href = '/users/'
          })
          break
        case 'edit':
          window.location.href = `/users/edit/${id}`
          break
      }
    }

    // manage add button
    //
    function onAddClick() {
      window.location.href = '/users/create'
    }