extends ../layout

block content
  #payload(data-users=users, data-title=title)
  table#table.mui-table.mui-table--bordered
    caption#tableCaption.mui--text-left
    thead#tableHeader
    tbody#tableBody
  script.
    $(document).ready(function(){
        const data = JSON.parse(document.getElementById('payload').dataset.users)
        const title = document.getElementById('payload').dataset.title
        $('#tableCaption').append(makeCaption(title))
        $('#tableHeader').append(makeHeader(['Username','Email','id']))
        $('#tableBody').append(makeBody(data, onLinkClick ))
        $('#searchBox').keyup(renderFilter)
    })

    // Render filtered data
    //
    function renderFilter (event) {
      const token = $( this ).val()
      const data = JSON.parse(document.getElementById('payload').dataset.users)
      var currentData = data.filter((s) => 
        s.username.startsWith(token) || s.email.startsWith(token)
      )
      $('#tableBody').empty()
      $('#tableBody').append(makeBody(currentData, onLinkClick ))
    }

    // manage Edit and Delete actions 
    //
    function onLinkClick( event ) {
      event.preventDefault()
      var element = event.srcElement.nodeName === 'I'? event.srcElement.parentNode : event.srcElement
      var urlArray = element.href.split('/')
      var verb = urlArray[urlArray.length - 2]
      var id = urlArray[urlArray.length - 1]
      switch( verb ) {
        case 'delete':
           $.delete(
            `/api/users/${id}`
            ).done(function( data ) {
            window.location.href = '/users/'
          })
        case 'edit':
          window.location.href = `/users/edit/${id}`
      }
    }

    // manage add button
    //
    function onAddClick() {
      window.location.href = '/users/create'
    }