extends ../layout

block content
  #payload(data-users=users, data-title=title)
  table#table.mui-table.mui-table--bordered
    caption#tableCaption.mui--text-left
    thead#tableHeader
    tbody#tableBody
  script.
    // define constants
    //
    const data = JSON.parse(document.getElementById('payload').dataset.users)
    const title = document.getElementById('payload').dataset.title
    const actions = [ 
      { 
        url: '/users/delete/', 
        icon:  'fa-times',
        color: 'mui--text-accent',
        eventListener: onLinkClick
      },
      { 
        url: '/users/edit/', 
        icon:  'fa-pencil',
        color: 'mui--text-primary',
        eventListener: onLinkClick
      }
    ]

    // start script
    $(document).ready(function(){
      // Translations
      //
      const { phrases, currentLocale } = JSON.parse(document.getElementById('polyglot').dataset.polyglot)
      const polyglot = new Polyglot({
          phrases,
          currentLocale
      })
      // Breadbrumb
      $('#breadcrumb').append(renderBreadcrumb([
          { text: polyglot.t('breadcrumb.home'), href: '/'},
          { text: polyglot.t('breadcrumb.users'), href: '/users'}
      ]))
      // Table
      const fields = [
        { field: 'username', label: polyglot.t('fields.users.username') },
        { field: 'email', label: polyglot.t('fields.users.email')},
        { filed: 'id' }
      ]
      $('#tableCaption').append(
        makeCaption(
          title, 
          'fa-user',
          polyglot.t('forms.buttons.add'),
          polyglot.t('forms.placeholders.search')
        )
      )
      $('#tableHeader').append(makeHeader(fields))
      $('#tableBody').append(makeBody(fields,data, actions ))
      // Search
      $('#searchBox').keyup(renderFilter)
    })

    // Render filtered data
    //
    function renderFilter (event) {
      const token = $( this ).val().toUpperCase()
      var currentData = data.filter((s) => 
        s.username.toUpperCase().startsWith(token) || s.email.toUpperCase().startsWith(token)
      )
      $('#tableBody').empty()
      $('#tableBody').append(makeBody(currentData, actions ))
    }

    // manage Edit and Delete actions 
    //
    function onLinkClick( event ) {
      event.preventDefault()
      var target = event.target || event.srcElement
      var element = target.nodeName === 'I'? target.parentNode : target
      var urlArray = element.href.split('/')
      var verb = urlArray[urlArray.length - 2]
      var id = urlArray[urlArray.length - 1]
      switch( verb ) {
        case 'delete':
           $.delete(
            `/api/users/${id}`
            ).done(function( data ) {
            window.location.href = '/users/'
          })
          break
        case 'edit':
          window.location.href = `/users/edit/${id}`
          break
      }
    }

    // manage add button
    //
    function onAddClick() {
      window.location.href = '/users/create'
    }